


$special-text: "Manrope";


@use "bootstrap/scss/bootstrap" with (
  $primary: #101622,//Color del fondo
  $secondary: #135BEC,//Color botones principales
  $success: #1A2233,//Color botones secundarios
  $warning: #FFFFFF,//Color textos principales 
  $info: #94A3B8, // Color texto relleno
  $dark: #E2E8F0,// Color texto navbar secundario

//Ver los tamaños de las letras

);

.special-text{
  font-family: $special-text;
}
.primary-size{
  font-size:3.5em ;
}
.secondary-title-size{
  font-size: 1.8em;
}
.tertiary-title-size {
  font-size: 1.15em;
}
.normal-text-size{
  font-size: 1em;
}
.hero-img{
  filter: brightness(0.7);
  border: none;
  width: 40em;
  padding:1em;
  
}